@model UserProfileViewModel
<html>
    <head>
        <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    </head>
    
    <nav class="navbar navbar-inverse  navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li ><a href="@Url.Action("List","Asset")">Asset <span class="sr-only"></span></a></li>
                    <li><a href="@Url.Action("Index","TaskQueue")">Task Queue</a></li>
                    <li><a href="@Url.Action("Index", "Reporting")">Reporting <span class="sr-only"></span></a></li>
                    <li>
                        <div class="dropdown">
                            <a class="dropbtn" href="@Url.Action("Index", "UserProfile")">
                                <span style="color: #e3f2fd;font-family:verdana;">
                                    @Model.FirstName @Model.LastName
                                </span>
                            </a>
                            <div class="dropdown-content"><a href="@Url.Action("Logout", "Account")">Logout</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h2 align="center">@ViewBag.Title</h2> <br/>
    <div class="container">
      <form class="form-horizontal" asp-controller="UserProfile" asp-action="Index">
        <div><p align="center"><small>Please click field specific tick mark to save your change.</small></p></div>>
        <div class="form-group">
          <label class="control-label col-sm-3" asp-for="FirstName"></label>
          <div class="col-sm-6">
            <input id="firstname" class="form-control" asp-for="FirstName" readonly="readonly">
          </div>
          <button id="editFirstname" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
          <button id="saveFirstname" type="button" class="btn btn-default btn-sm" disabled="true"><span class="glyphicon glyphicon-ok"></span></button>
          <span asp-validation-for="FirstName"></span>
        </div>
                
        <div class="form-group">
          <label class="control-label col-sm-3" asp-for="LastName"></label>
          <div class="col-sm-6">
            <input id="lastname" class="form-control" asp-for="LastName" readonly="readonly">
          </div>
          <button id="editLastname" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
          <button id="saveLastname" type="button" class="btn btn-default btn-sm" disabled="true"><span class="glyphicon glyphicon-ok"></span></button>
          <span asp-validation-for="LastName"></span>
        </div>
                
        <div class="form-group">
          <label class="control-label col-sm-3" asp-for="Email"></label>
          <div class="col-sm-6">
            <input id="email" type="email" class="form-control" asp-for="Email" readonly="readonly">
          </div>
          <button id="editEmail" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
          <button id="saveEmail" type="button" class="btn btn-default btn-sm" disabled="true"><span class="glyphicon glyphicon-ok"></span></button>
          <span asp-validation-for="Email"></span>
        </div>

      </form>


      <div align="center">
           <button id="changePassword" type="button" class="btn btn-default btn-sm">Change Password</button>
      </div>


       <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myChangePasswordModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                 <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button type="button" class="close" onclick="closeModal();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div class="modal-body">
                    <div>
                       <p id="errormessage"></p>
                    </div>
                    <div class="row" style="padding-bottom:15px !important">
                       <label class="control-label col-sm-4" asp-for="CurrentPassword"></label>
                       <div class="col-sm-6">
                          <input id="currentPassword" type="password" class="form-control" asp-for="CurrentPassword">
                       </div>
                    </div>
                    <div class="row" style="padding-bottom:15px !important">
                       <label class="control-label col-sm-4" asp-for="NewPassword"></label>
                       <div class="col-sm-6">
                          <input id="newPassword" type="password" class="form-control" asp-for="NewPassword">
                       </div>
                    </div>
                    <div class="row" style="padding-bottom:15px !important">
                       <label class="control-label col-sm-4" asp-for="ConfirmNewPassword"></label>
                       <div class="col-sm-6">
                          <input id="confirmNewPassword" type="password" class="form-control" asp-for="ConfirmNewPassword">
                       </div>
                    </div>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="changePassword();">Change</button>
                    <button type="button" class="btn btn-secondary" onclick="closeModal();">Cancel</button>
                 </div>
              </div>
           </div>
        </div>
        
    </div>
</html>

<!--see who was the event listener. based on that make corresponding input box editable.-->
<script type="text/javascript">
    $(document).ready(function() {
        $("#editFirstname").click(function(event) {
            $("#firstname").prop('readOnly', false);
            $("#saveFirstname").prop('disabled',false);
            $(this).prop('disabled',true);
        });
        $("#editLastname").click(function(event) {
            $("#lastname").prop('readOnly', false);
            $("#saveLastname").prop('disabled',false);
            $(this).prop('disabled',true);
        });
        $("#editEmail").click(function(event) {
           $("#email").prop('readOnly', false);
           $("#saveEmail").prop('disabled',false);
           $(this).prop('disabled',true);
        });

        $("#saveFirstname").click(function(event) {
           var newval = $("#firstname").val();
           var editbutton = $("#editFirstname");
           var savebutton = $("#saveFirstname");
           if(newval){
            $.ajax({
                async: false,
                url: '@Url.Action("UpdateNameOrEmail")',
                dataType: 'application/json',
                data: {
                    firstname:newval 
                },
                complete: function (data) {
                    var response = JSON.parse(data.responseText);

                    if (response.success) {
                        $("#firstname").prop('readOnly', true);
                        $("#editFirstname").prop('disabled',false);
                        $("#saveFirstname").prop('disabled',true);
                        window.location.reload();
                    }                      
                }
            });
           }
        });
        
        $("#saveLastname").click(function(event) {
           var newval = $("#lastname").val();
           var editbutton = $("#editLastname");
           var savebutton = $("#saveLastname");
           if(newval){
            $.ajax({
                async: false,
                url: '@Url.Action("UpdateNameOrEmail")',
                dataType: 'application/json',
                data: {
                    lastname:newval 
                },
                complete: function (data) {
                    var response = JSON.parse(data.responseText);
                    if (response.success) {
                        $("#lastname").prop('readOnly', true);
                        $("#editLastname").prop('disabled',false);
                        $("#saveLastname").prop('disabled',true);
                        window.location.reload();
                    }                        
                }
            });
           }
        });
    
        $("#saveEmail").click(function(event) {
           var newval = $("#email").val();
           var editbutton = $("#editEmail");
           var savebutton = $("#saveEmail");
           if(newval){
            $.ajax({
                async: false,
                url: '@Url.Action("UpdateNameOrEmail")',
                dataType: 'application/json',
                data: {
                    email:newval 
                },
                complete: function (data) {
                    var response = JSON.parse(data.responseText);

                    if (response.success) {
                        $("#email").prop('readOnly', true);
                        $("#editEmail").prop('disabled',false);
                        $("#saveEmail").prop('disabled',true);
                    }                       
                }
            });
           }
        });

        $("#changePassword").click(function(event){
           $('#changePasswordModal').modal({ backdrop: 'static', keyboard: false })
        });

    });



    function changePassword(){
       var _currentPassword = $("#currentPassword").val();
       var _newPassword = $("#newPassword").val();
       var _confirmNewPassword = $("#confirmNewPassword").val();

       var errors = [];
       // check for empty string in all three fields
       if(_currentPassword === "") errors.push("Current Password can not be empty");
       if(_newPassword === "") errors.push("New Password can not be empty");
       if(_confirmNewPassword === "") errors.push("Confirm New Password can not be empty");
       if(_newPassword === _currentPassword) errors.push("New password can not be same as current password");
       if(_newPassword !== _confirmNewPassword) errors.push("New password and Confirm new password do not match");
       if(_newPassword.length < 8) errors.push("Password must be at least 8 character long."); 

       if(errors.length > 0)
       {
          var messages = "";
          for(var i = 0; i < errors.length; i++)
          {
             messages += errors[i];
             messages += "</br>";
          }
          $("#errormessage").html(messages);
          return;
       }
    
       // if all seems okay, pass the ajax
       $.ajax({
            async: true,
            url: '@Url.Action("ChangePassword")',
            dataType: 'application/json',
            data: {
                currentPassword : _currentPassword,
                newPassword : _newPassword
            },
            complete: function (data) {
                var response = JSON.parse(data.responseText);
                if (response.success) {
                    $("#errormessage").html('<span style="color:green">'+response.message+'</span>');
                }
                else
                {
                    $("#errormessage").html('<span style="color:red">'+response.message+'</span>');
                }
            }
      });
    }


    function closeModal()
    {
       // silently exits. does not alert user if field is non-empty. 
       // well, having another popup on top of a modal makes it less user friendly.
       $("#currentPassword").val("");
       $("#newPassword").val("");
       $("#confirmNewPassword").val("");

       $("#changePasswordModal").modal('hide');
    }
</script>