@model UserProfileViewModel
<html>
    <nav class="navbar navbar-inverse  navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li ><a href="@Url.Action("List","Asset")">Asset <span class="sr-only"></span></a></li>
                    <li><a href="@Url.Action("Index","TaskQueue")">Task Queue</a></li>
                    <li><a href="@Url.Action("Index", "Reporting")">Reporting <span class="sr-only"></span></a></li>
                    <li class="active"><a href="@Url.Action("Index", "UserProfile")">User Profile <span class="sr-only">(current)</span></a></li>
                    <span class="navbar-text" style="color: #e3f2fd;font-family:verdana;">
                      @Model.FirstName @Model.LastName
                    </span>
                </ul>
            </div>
        </div>
    </nav>
    <h2 align="center">@ViewBag.Title</h2> <br/>
    <div class="container">
      <form class="form-horizontal" asp-controller="UserProfile" asp-action="Index">
        <div><p align="center"><small>Please click field specific tick mark to save your change.</small></p></div>>
        <div class="form-group">
          <label class="control-label col-sm-3" asp-for="FirstName"></label>
          <div class="col-sm-6">
            <input id="firstname" class="form-control" asp-for="FirstName" readonly="readonly">
          </div>
          <button id="editFirstname" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
          <button id="saveFirstname" type="button" class="btn btn-default btn-sm" disabled="true"><span class="glyphicon glyphicon-ok"></span></button>
          <span asp-validation-for="FirstName"></span>
        </div>
                
        <div class="form-group">
          <label class="control-label col-sm-3" asp-for="LastName"></label>
          <div class="col-sm-6">
            <input id="lastname" class="form-control" asp-for="LastName" readonly="readonly">
          </div>
          <button id="editLastname" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
          <button id="saveLastname" type="button" class="btn btn-default btn-sm" disabled="true"><span class="glyphicon glyphicon-ok"></span></button>
          <span asp-validation-for="LastName"></span>
        </div>
                
        <div class="form-group">
          <label class="control-label col-sm-3" asp-for="Email"></label>
          <div class="col-sm-6">
            <input id="email" type="email" class="form-control" asp-for="Email" readonly="readonly">
          </div>
          <button id="editEmail" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
          <button id="saveEmail" type="button" class="btn btn-default btn-sm" disabled="true"><span class="glyphicon glyphicon-ok"></span></button>
          <span asp-validation-for="Email"></span>
        </div>
      </form>
    </div>
</html>

<!--see who was the event listener. based on that make corresponding input box editable.-->
<script type="text/javascript">
    $(document).ready(function() {
        $("#editFirstname").click(function(event) {
            $("#firstname").prop('readOnly', false);
            $("#saveFirstname").prop('disabled',false);
            $(this).prop('disabled',true);
        });
        $("#editLastname").click(function(event) {
            $("#lastname").prop('readOnly', false);
            $("#saveLastname").prop('disabled',false);
            $(this).prop('disabled',true);
        });
        $("#editEmail").click(function(event) {
           $("#email").prop('readOnly', false);
           $("#saveEmail").prop('disabled',false);
           $(this).prop('disabled',true);
        });

        $("#saveFirstname").click(function(event) {
           var newval = $("#firstname").val();
           var editbutton = $("#editFirstname");
           var savebutton = $("#saveFirstname");
           if(newval){
            $.ajax({
                async: false,
                url: '@Url.Action("UpdateProfile")',
                dataType: 'application/json',
                data: {
                    firstname:newval 
                },
                complete: function (data) {
                    var response = JSON.parse(data.responseText);

                    if (response.success) {
                        $("#firstname").prop('readOnly', true);
                        $("#editFirstname").prop('disabled',false);
                        $("#saveFirstname").prop('disabled',true);
                        window.location.reload();
                    }                      
                }
            });
           }
        });
        
        $("#saveLastname").click(function(event) {
           var newval = $("#lastname").val();
           var editbutton = $("#editLastname");
           var savebutton = $("#saveLastname");
           if(newval){
            $.ajax({
                async: false,
                url: '@Url.Action("UpdateProfile")',
                dataType: 'application/json',
                data: {
                    lastname:newval 
                },
                complete: function (data) {
                    var response = JSON.parse(data.responseText);
                    if (response.success) {
                        $("#lastname").prop('readOnly', true);
                        $("#editLastname").prop('disabled',false);
                        $("#saveLastname").prop('disabled',true);
                        window.location.reload();
                    }                        
                }
            });
           }
        });
    
        $("#saveEmail").click(function(event) {
           var newval = $("#email").val();
           var editbutton = $("#editEmail");
           var savebutton = $("#saveEmail");
           if(newval){
            $.ajax({
                async: false,
                url: '@Url.Action("UpdateProfile")',
                dataType: 'application/json',
                data: {
                    email:newval 
                },
                complete: function (data) {
                    var response = JSON.parse(data.responseText);

                    if (response.success) {
                        $("#email").prop('readOnly', true);
                        $("#editEmail").prop('disabled',false);
                        $("#saveEmail").prop('disabled',true);
                    }                       
                }
            });
           }
        });
    });
</script>